<div class="alert flash <%= locals.alert_class %> " style="display:none">
    <button type="button" class="close">×</button>
    <i class="fa <%= locals.icon_class %>  sign"></i>
    <strong><%= locals.type %></strong> 
    <span><%- locals.message %> </span>
  </div>