 <!--Footer  -->
 <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="details-1">
                <h2>
                    Follow us on:
                </h2>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="details-1">
                <h2>
                    Quick Links
                </h2>
                <p>
                    <a href="/">
                        Home
                    </a>
                </p>
                <p>
                    <a href="/services">
                        Service
                    </a>
                </p>
                <p>
                    <a href="/pricing">
                        Pricing
                    </a>
                </p>
                <p>
                    <a href="/about">
                        About
                    </a>
                </p>
            </div>
        </div>
        
        <div class="col-lg-2">
            <div class="details-1">
                <h2>
                    Company
                </h2>
                <p>
                    <a href="/faq">
                        FAQs
                    </a>
                </p>
                <p>
                    <a href="/contact">
                        Contact
                    </a>
                </p>
                <p>
                    <a href="/login-user">
                        Log in
                    </a>
                </p>
                <p>
                    <a href="/registration-type">
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="details-1">
                <h2>
                    Contact Us
                </h2>
                <p>
                    <a href="#">
                        No 10 uwa street off tv road Benin city Nigeria
                    </a>
                </p>
                <p>
                    <a href="#">
                        <i class="bi bi-telephone"></i> 08051591941
                    </a>
                </p>
                <p>
                    <a href="/login-user">
                        <i class="bi bi-envelope lope"></i> officialdeependcinemas@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Ends -->

<!--Footer Section-->
<footer>
<div class="content">

<div class="bottom-details">
<div class="bottom_text">
    <p>Copyright © 2022 Deepend Entertainment. All Rights Reserved</p>
</div>

</div>
</footer>
<!--Footer Section Ends-->
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script src="main.js"></script>

<script src="assets/js/bootstrap.min.js"></script>
</script>

</body>
</body>
</html>

 