 <section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="text"><p>The app that conveniently supply you with your daily need</p></div>
            </div>
            <div class="col-lg-2">
                <div class="text">
                    <p><a href="/privacy">Privacy Policy</a></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text">
                    <p><a href="/terms">Terms & Conditions</a></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text">
                    <p><a href="/contact">Contact Us</a></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text">
                    <div class="mapp">
                        <div class="mapp-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12"><p class="text-center" style="margin-top: 30px; color: #fff; font-size: 15px;">Copyright © 2022 DEEPEND | All rights reserved. Site Credit</p></div>
        </div>
    </div>
</section>
<script src="assets/js/main.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>

 