<%- include("../partials/base_header") %>



<!-- about us-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="deepend">
                    <img src="assets/images/Deepend  2.png" alt="Deepend  2.png">
                </div>
            </div>
            <div class="col-lg-6">
               <div class="deepend-1">
                <h1> About 
                    <span>
                        DeepEnd
                    </span>
                     Entertainment 
                    <span>
                        ?
                    </span>
                </h1>
                <p>
                    Deepend entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge, 
                </p>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="core">
                        <h1>
                            CORE VALUES
                        </h1>
                        <p>
                            DEEPEND ENTERTAINMENT has established a set of core values that are the foundation of what the company stands for our guiding principles which are…
                        </p>
                        <ul>
                            <li>
                                To constantly strives for excellence 
                            </li>
                            <li>
                                To provide growth opportunities for employees and customers
                            </li>
                            <li>
                                To provide exceptional customer service 
                            </li>
                            <li>
                                To respect and serve other at all times
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="core">
                        <h1>
                            MISSION STATEMENT
                        </h1>
                        <p>
                            Our mission is to empower the community by providing a safe, fun environment that will encourage families to come together through recreational and social activities.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 desk py-4">
                <h1>Deep End Desk <span>...</span></h1>
                <p>Check out our desk to see our skillset, achievements and what we have to offer.</p>
            </div>
               <!--Services-->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 py-2 text-center">
                    <div class="service-box">
                        <img src="assets/images/clipboard 1.png" alt="clipboard 1.png">
                        <h4>PROJECTS</h4>
                        <p>100</p>
                    </div>
                </div>
                <div class="col-lg-3 py-2 text-center">
                    <div class="service-box">
                        <img src="assets/images/trophy 1.png" alt="trophy 1.png">
                        <h4>CLIENTS</h4>
                        <p>40</p>
                    </div>
                </div>
                <div class="col-lg-3 py-2 text-center">
                    <div class="service-box">
                        <img src="assets/images/customer 1.png" alt="customer 1.png">
                        <h4>OUR TEAM</h4>
                        <p>20</p>
                    </div>
                </div>
                <div class="col-lg-3 py-2 text-center">
                    <div class="service-box">
                        <img src="assets/images/link 1.png" alt="link 1.png">
                        <h4>AWARDS</h4>
                        <p>75</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services Ends-->
</section>
<!-- about us Ends-->
<!-- Next Section-->

<!--Next Section Ends-->

<%- include("../partials/base_footer") %>