<%- include("../partials/base_header") %>



   <!-- Let-us-know  -->
   <section class="Let-us-know">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="text">
                    <h1>
                        Get to Know Us
                    </h1>
                    <p>
                        Insisght on DeepEnd Entertainment, more about us 
                    </p>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>
<!-- Let-us-know Ends -->

<!-- Insight  -->
<section class="Insight container">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="text">
                    <p>
                        <span> <b>Deepend Entertainment</b></span> is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge,
                    </p>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-12">
                <div class="text">
                    <h3>
                        Statistics
                    </h3>
                </div>
                <div class="line-rule"></div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <div class="content" style="background-color: 
                #40BC05;">
                    <h2>
                        100 +
                    </h2>
                    <p>
                        Projects 
                    </p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="content" style="background-color: 
                #BC9F05;">
                    <h2>
                        40 +
                    </h2>
                    <p>
                        Clients 
                    </p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="content" style="background-color: 
                #05A6BC;">
                    <h2>
                        20
                    </h2>
                    <p>
                        Members 
                    </p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="content" style="background-color: 
                #8D05BC;">
                    <h2>
                        75
                    </h2>
                    <p>
                        Awards 
                    </p>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<!-- Insight Ends -->

<!--  mission-statement  -->
<section class="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <h3>
                        Mission Statement
                    </h3>
                    <div class="line-rule"></div>
                    <p>
                        Our mission is to empower the community by providing a safe, fun environment that will encourage families to come together through recreational and social activities.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3>
                        Our Core Values
                    </h3>
                    <div class="line-rule"></div>
                    <ol>
                        <ul>
                            <li>
                                To constantly strives for excellence
                            </li>
                            <li>
                                To provide growth opportunities for employees and customers
                            </li>
                            <li>
                                To provide exceptional customer service
                            </li>
                            <li>
                                To respect and serve other at all times
                            </li>
                        </ul>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mission-statement Ends -->


<%- include("../partials/base_footer") %>