<%- include("../partials/base_header") %>


        <!-- contact-content -->
        <section class="contact-content" id="topFirst">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4 motto">
                        <div class="row">
                            <div class="col-lg-12 address">
                                <h1 style="color: #fff;">Office Address</h1>
                            <p>Address: No. 10 uwa street off tv road, Benin city Nigeria</p>
                            </div>
                            <div class="col-lg-12 details">
                                <p><i class="bi bi-envelope"></i> officialdeependcinemas@gmail.com</p>
                                <p><i class="bi bi-telephone"></i> 08051591941</p>
                            </div>
                            <div class="col-lg-12 map">
                                <div class="mapp">
                                    <div class="mapp-icons">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="address">
                            <img src="assets/images/map.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <div class="form-area">
                            <form method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label for="name">Name</label>
                                    <input required class="input" name="name" placeholder="Enter your name." required type="text">
                                </div>
                                <div class="col-lg-12">
                                    <label for="email">Email</label>
                                    <input required class="input" name="email" placeholder="Enter a valid email address." required type="email">
                                </div>
                                <div class="col-lg-12">
                                    <label for="phone_number">Subject</label>
                                    <input required class="input" name="subject" placeholder="Subject." required type="text">
                                </div>
                                <div class="col-lg-12">
                                    <label for="your message">Mesaages</label>
                                    <textarea required name="message" class="input" cols="50" placeholder="Enter your message." rows="5"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <input required type="submit" name="submit" value="Submit" class="btn-submit">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-content Ends -->

        <!-- Branches -->
        <section class="Branch">
            <div class="container">
                <div class="row">
                    <div class="select">
                        <div class="col-lg-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014756.6903908219!2d2.976542089307389!3d6.535154865265881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf2bae227550d%3A0xe771ad7f1bbe89d6!2sLagos!5e0!3m2!1sen!2sng!4v1639066038889!5m2!1sen!2sng" width="100%" height="400" style="border:1px solid #fff; border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Branches Ends -->
        





<%- include("../partials/base_footer") %>