<%- include("../partials/base_header") %>


        <!-- Contact Content -->
        <section id="cont">
            <section class="contact-content" id="topFirst">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12 py-5">
                                    <h1 class="in" style="margin-top: 50px;">GET IN TOUCH.</h1>
                                <p class="Learn">Learn more about us, complete the online inquiry form.</p>
                                
                                </div>
                                <div class="col-lg-12 address">
                                <p>Address: No 2, Ralex Glass House, Ogba-Ikeja Lagos State Nigeria</p>
                                </div>
                                <div class="col-lg-12 details">
                                    <p><i class="bi bi-envelope"></i> officialdeependcinemas@gmail.com</p>
                                    <p><i class="bi bi-telephone"></i> 08051591941</p>
                                </div>
                                <div class="col-lg-12 map">
                                    <div class="mapp">
                                        <div class="mapp-icons">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <img src="assets/images/map.png" alt="">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <div class="form-area">
                                
                                <form>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-12 py-2">
                                                    <label for="name">NAME</label>
                                                    <input class="input" placeholder="Enter your name." required type="text">
                                                </div>
                                                <div class="col-lg-12 py-2">
                                                    <label for="email">EMAIL</label>
                                                    <input class="input" placeholder="Enter a valid email address." required type="email">
                                                </div>
                                                <div class="col-lg-12 py-2">
                                                    <label for="phone_number">PHONE NUMBER</label>
                                                    <input class="input" placeholder="Enter your phone number." required type="text">
                                                </div>
                                                 <div class="col-lg-12 py-2">
                                                        <label for="your message">MESSAGE</label>
                                                        <textarea required class="input" cols="50" placeholder="Enter your message." rows="5"></textarea>
                                                    </div>
                                                    <div class="col-lg-12 py-2">
                                                        <input type="submit" value="Submit" class="btn-submit">
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Content Ends -->
            <!-- Branches -->
            <section class="Branches">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="empower">
                                <h3>
                                    BRANCHES OF DEEP END ENTERTAINMENT
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND CINEMAS 
                                </h2>
                                <p>
                                    <span>DEEPEND CINEMAS:</span> is one of the branches of Deepend entertainment, which offer cinemas service and distributions of movies across the nations.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND FUN HOUSE
                                </h2>
                                <p>
                                    <span>DEEPEND FUN HOUSE:</span> is another one of the branch of Deepend entertainment, which offers Fun services like playing of vr games and other fun activities.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND HOTELS AND SUITE
                                </h2>
                                <p>
                                    <span>DEEPEND HOTELS AND SUITE:</span> is a branch of Deepend entertainment, that offers hospitality services like room reservations, gym club and laundry services.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    CLUB ATLANTA
                                </h2>
                                <p>
                                    <span>CLUB ATLANTA:</span> is a branch of Deepend entertainment, Club Atlanta is situated at No. 10 Uwa street off Tv road Benin city Edo state
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND RECORD
                                </h2>
                                <p>
                                    <span>DEEPEND RECORD:</span> is a branch of Deepend entertainment, that offers hospitality services like room reservations, gym club and laundry services. 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    FANSITE TUBE
                                </h2>
                                <p>
                                    <span>FANSITE TUBE:</span> is also a branch of Deepend entertainment, that broadcast news and lifestyle online.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND RENTAL
                                </h2>
                                <p>
                                    <span>DEEPEND RENTAL:</span> is also a branch of Deepend entertainment, that rents out cameras, party bus, music equipments, etc…
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    DEEPEND BAND
                                </h2>
                                <p>
                                    <span>DEEPEND BAND:</span> is also a branch of Deepend entertainment that can be called for weddings, burial ceremonies, naming ceremonies, weeding anniversary, special events etc… 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="empower-1">
                                <h2>
                                    CHRISTY’S EATERY
                                </h2>
                                <p>
                                    <span>CHRISTY’S EATERY</span> is also a branch of Deepend restaurants that serves you the best and delicious food in Benin city such as intercontinental dishes, Nigeria dishes, snacks, ice-cream, popcorn etc….  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             <!-- Branches Ends -->
        





<%- include("../partials/base_footer") %>