<%- include("../partials/base_header") %>

   
        <!--Faqs-->
        <section class="faqs py-4">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="faqq">
                          <img src="assets/images/f.png" alt="">
                      </div>
                  </div>
                  <div class="col-lg-8 py-4 accord">
                      <div class="container">
                          <div class="accordion" id="accordionExample">
                              <div class="accordion-item">
                              <h2 class="accordion-header faq_adjustment" id="headingOne">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <div class="circle-icon">  </div>
                                  <span>Is DeepEnd Mobile available on all platforms.</span> </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">The Deepend platform is available on all platforms; readily available for download on your App Store and also accessible on all browsers.</div>
                              </div>
                              <div class="accordion-item">
                                  <h2 class="accordion-header faq_adjustment" id="headingTwo">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                  <div class="circle-icon">  </div>
                                  <span>How many month support do I have as a vendor?</span> </button>
                                  </h2>
                                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">The Deepend vendor option is available for use to you for “so so month”. </div>
                                  </div>
                              </div>
                              <div class="accordion-item">
                                  <h2 class="accordion-header faq_adjustment" id="headingThree">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                  <div class="circle-icon">  </div>
                                  <span>Can I cancel my subscription?</span> </button>
                                  </h2>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">Deepend provides an option to cancel subscriptions at will. </div>
                                  </div>
                              </div>
                              <div class="accordion-item">
                                  <h2 class="accordion-header faq_adjustment" id="headingFour">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                  <div class="circle-icon">  </div>
                                  <span>What are the various payment methods?</span> </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">You can make payments for the Deepend platform using your mobile bank apps, as well as other notable platforms within your region.</div>
                                  </div>
                              </div>
                          </div>
                      <div class="col-md-1"></div>
                  </div>
              </div>
          </div>
      </section>
      <!-- FaqS ends -->
   

<%- include("../partials/base_footer") %>