<%- include("../partials/base_header") %>


  <!-- Gallery Content -->
  <section class="gallery-section" id="topFirst">
    <div class="container gallery-container">
    <div class="row">
        <div class="col-md-12 div-nav-gallery">
        <h1>View Our Gallery</h1>
        <nav class="nav-gallery">
            <ul>         
            </ul>
        </nav>
        </div>
    </div>
        
    <div id="projects">
        <ul id="gallery" class="myimgdivtoggle">
            <h4>VR Game Section</h4>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/101.jpeg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                    <img src="assets/images/104.jpeg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/107.jpeg" draggable="false">
                </a>
            </li>
        </ul>
    </div>
    <div id="projects">
        <ul id="gallery" class="myimgdivtoggle">
            <h4>Studio Section</h4>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/studion.avif" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/106.jpeg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/103.jpeg" draggable="false">
                </a>
            </li>
        </ul>
    </div>
    <div id="projects">
        <ul id="gallery" class="myimgdivtoggle">
            <h4>Hotel Section</h4>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/hot.avif" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/4.png" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/hot1.avif" draggable="false">
                </a>
            </li>
        </ul>
    </div>
    <div id="projects">
        <ul id="gallery" class="myimgdivtoggle">
            <h4>Cinemal Section</h4>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/c.jpg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/cg.jpg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/3.png" draggable="false">
                </a>
            </li>
        </ul>
    </div>
    <div id="projects">
        <ul id="gallery" class="myimgdivtoggle">
            <h4>Equipment Renting Section</h4>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/6.png" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/charjpg.jpg" draggable="false">
                </a>
            </li>
            <li class="gallery1">
                <a href="#">
                <img src="assets/images/ca.jpg" draggable="false">
                </a>
            </li>
        </ul>
    </div>
    <!-- modal gallery -->
    <div class="gallery">
        <a class="close" href="#">
            <i>
            <span class="bar"> </span>
            <span class="bar"></span>
            </i>
        </a>
        <img src="">
    </div>
</div>
</section>
<!-- Gallery Content Ends-->



<%- include("../partials/base_footer") %>