<%- include("../partials/base_header") %>



<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="content"><img src="assets/images/Man searching music with phone.png" draggable="false" alt="" /></div>
            </div>
            <div class="col-lg-8">
                <div class="text"><img src="assets/images/Group 9158.png" draggable="false" alt="" /></div>
            </div>
            <div class="col-lg-2">
                <div class="content"><img src="assets/images/Man searching music with phone.png" draggable="false" alt="" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="content-1"><img src="assets/images/image 895.png" draggable="false" alt="" /> <img src="assets/images/Torus.png" class="icon" draggable="false" alt="" /></div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <p>Everything entertainment, food, games, movie, hotel and studio bookings, equipment renting all at your fingertip with the Deep End app</p>
                    <button>
                        <a href="vendor-sign-up.html">Get DeepEnd <i class="fal fa-chevron-double-right"></i></a>
                    </button>
                    <img src="assets/images/Man searching music with phone.png" class="png" draggable="false" alt="" /> <img src="assets/images/Image.png" class="pngg" draggable="false" alt="" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-1"><img src="assets/images/close up of white vr glasses.png" draggable="false" alt="" /> <img src="assets/images/Torus.png" class="iconn" draggable="false" alt="" /></div>
            </div>
        </div>
    </div>
</section>
<section class="get-started container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="started"><h3>Get the best experience using our top notch services</h3></div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/1.png" draggable="false" alt="" />
                    <div class="content-text">
                        <h4>Food</h4>
                        <p>Order your food here and get it delivered.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/2.png" draggable="false" />
                    <div class="content-text" style="background-color: #4351cf;">
                        <h4>VR Games</h4>
                        <p>Buy tickets for virtual reality games</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/3.png" draggable="false" />
                    <div class="content-text" style="background-color: #cf43cf;">
                        <h4>Cimena Movies</h4>
                        <p>Buy tickets for movies in the cinemas</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/4.png" draggable="false" />
                    <div class="content-text" style="background-color: #42cdb4;">
                        <h4>Hotel Bookings</h4>
                        <p>Book hotels of your choice here, easily.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/5.png" draggable="false" />
                    <div class="content-text" style="background-color: #ca9644;">
                        <h4>Studio Booking</h4>
                        <p>Book studio sessions for your recordings.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-div">
                    <img src="assets/images/6.png" draggable="false" />
                    <div class="content-text" style="background-color: #f05e3c;">
                        <h4>Equipment Renting</h4>
                        <p>Rent any equipment you need at any time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="become-vendor container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text">
                    <h1>Do you want to become a vendor on DeepEnd ?</h1>
                    <p>You can become a vendor on DeepEnd and sell your product easily, quickly and convenient. Isnt tha cool ?</p>
                    <button>
                        <a href="vendor-sign-up.html">Become A Vendor <i class="fal fa-chevron-double-right"></i></a>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="div-image"><img src="assets/images/IMAGE (1) (1) (1).png" draggable="false" alt="" /></div>
            </div>
        </div>
    </div>
</section>
<section class="supply-vendor container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text">
                    <h1><span>DeepEnd</span>, conveniently supplying you with your daily needs</h1>
                    <p>Everything entertainment, food, games, movie, hotel and studio bookings, equipment renting all at your fingertip with the Deep End app.</p>
                    <div class="app"><img src="assets/images/ap.png" draggable="false" alt="" /> <img src="assets/images/app.png" draggable="false" alt="" /></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="div-image"><img src="assets/images/icon.png" draggable="false" alt="" /></div>
            </div>
        </div>
    </div>
</section>
<section class="message container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="div-image"><img src="assets/images/Group 46373.png" draggable="false" alt="" /></div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="text">
                    <h1>Lets keep you up to date on our entertainment and more!</h1>
                    <p>Be the first to get information and updates on the app and on our very juicy packages</p>
                    <form class="search-bar">
                        <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Your email address" /> <span class="input-group-text" id="basic-addon2">Subscribe</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>







<%- include("../partials/base_footer") %>