<%- include("../partials/base_header") %>



 <!--Welcome Page-->
 <section class="welcome">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="Exp">Experience</h1>

                        <h1 class="Item">The <span class="deep">DeepEnd</span> of</h1>
                        <h1 class="Items">Entertainment.</h1>
                        <p>Deep end entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge.</p>
                        <div class="">
                           <button class="btn-div">DISCOVER MORE</button>
                          
                        </div>
                    </div>
                    <div class="col-md-6 list">
                      <img src="assets/images/unsplash_HI6gy-p-WBI-removebg-preview 1.png" alt="">
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="Exp">Experience</h1>
                        <h1 class="Item">The <span class="deep">DeepEnd</span> of</h1>
                        <h1 class="Items">Entertainment.</h1>
                        <p>Deep end entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge</p>
                        <div class="">
                            <button class="btn-div">Discover More</button>
                         </div>
                    </div>
                    <div class="col-md-6 list">
                      <img src="assets/images/image 789.png" alt="">
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="Exp">Experience</h1>
                        <h1 class="Item">The <span class="deep">DeepEnd</span> of</h1>
                        <h1 class="Items">Entertainment.</h1>
                        <p>Deep end entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge</p>
                        <div class="">
                            <button class="btn-div">Discover More </button>
                         </div>
                    </div>
                    <div class="col-md-6 list">
                      <img src="assets/images/image 788.png" alt="">
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
<!--Welcome page ends-->

<!--Call action-->
<section class="action py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="mobileviewtext">
                <h1>What we do</h1>
                <p>
                    Deep end entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge, 
                </p>
                <div class="view">
                    <button class="btn-divv">
                        View More
                    </button>
                </div>
            </div>
            <div class="col-lg-6 btn-icon">
                <img src="assets/images/dp1 (1).png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="mobileview">
                    <h1>What we do</h1>
                    <p>
                        Deep end entertainment is one of the biggest entertainment brand in south south which was established in 2010, situated at No. 10 uwa street off Tv road Benin city Edo State. Deep end is currently running with over 100 estimated workers with entertainments knowledge, 
                    </p>
                    <div class="view">
                        <button class="btn-divv">
                            View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Call action End-->
<!-- Swiper -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12 mb-4 leaf">
                <h3>What we offer <span>...</span></h3>
                <div class="greenleaf mb-4">
                    <i class="bi bi-arrow-left swiper-button-prev" id="greenn"></i>
                    
                </div>
            </div>
            <div class="col-lg-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="img-div" style="width: 18rem;">
                                    <img src="assets/images/icon3.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">FOOD</p>
                                    <p class="card-text testt">Order your favorite delicacy one our app...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon5.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">VR Gaming</p>
                                    <p class="card-text testt">Whatever game you are looking for we have it... <i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon2.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">CINEMA TICKETS</p>
                                    <p class="card-text testt">Your favorite movies are closer than you think...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon1.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">HOTEL RESERVATION</p>
                                    <p class="card-text testt">Book a stay in Hotels around you...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon4.png" class="card-img-top">
                                </div>
                                <div class="card-body studio">
                                    <p class="book">STUDIO BOOKING</p>
                                    <p class="card-text test">Showcase your artistic and studio booking side...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon6.png" class="card-img-top">
                                </div>
                                <div class="card-body studio">
                                    <p class="book">EQUIPMENT RENTING</p>
                                    <p class="card-text test">Rent all the kinds of equipment and all that<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="img-div" style="width: 18rem;">
                                    <img src="assets/images/icon3.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">FOOD</p>
                                    <p class="card-text testt">Order your favorite delicacy one our app...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon5.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">VR Gaming</p>
                                    <p class="card-text testt">Whatever game you are looking for we have it... <i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon2.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">CINEMA TICKETS</p>
                                    <p class="card-text testt">Your favorite movies are closer than you think...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon1.png" class="card-img-top">
                                </div>
                                <div class="card-body studioo">
                                    <p class="book">HOTEL RESERVATION</p>
                                    <p class="card-text testt">Book a stay in Hotels around you...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon4.png" class="card-img-top">
                                </div>
                                <div class="card-body studio">
                                    <p class="book">STUDIO BOOKING</p>
                                    <p class="card-text test">Showcase your artistic and studio booking side...<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;">
                                <div class="img-div">
                                    <img src="assets/images/icon6.png" class="card-img-top">
                                </div>
                                <div class="card-body studio">
                                    <p class="book">EQUIPMENT RENTING</p>
                                    <p class="card-text test">Rent all the kinds of equipment and all that<i class="bi bi-arrow-right boot"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
<!-- Swiper Ends -->

<!--Mobile App-->
<section class="mobile-app">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="are" >
                    <img src="assets/images/Group 62.png" alt="mobile app">
                </div>
            </div>
            <div class="col-lg-6 text-section">
                <div class="small-head">
                    <div class="text-head">Get The </div>
                </div>
                <h1>DEEPEND  <br> MOBILE APP</h1>
                <h4>Download Now</h4>
                <div class="btn-di">
                    <a href="#"><img src="assets/images/app.png" alt="App store"></a>
                    
                    <div class="btn-di">
                        <a href="#"><img src="assets/images/Group 26.png" alt="Google play store"><a></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Mobile App Ends-->
<!--Inbox me-->
<section class="inbox py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 get">
                <h1>Subscribe to get the latest <br>Entertainment updates.</h1>
                <p>Enjoy the latest entertainment updates by subscribing
                    to our newsletter and keep yourself updated on the
                    various happenings around you
                </p>
                <input type="text" class="input" placeholder="Enter your email address" required>
                <input type="submit" value="Subscribe" class="submit">
            </div>
            <div class="col-lg-5">
                <img src="assets/images/111.png" alt="">
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<!--Inbox me end-->







<%- include("../partials/base_footer") %>