<%- include("../partials/base_header") %>


     <!-- Let-us-know  -->
     <section class="Let-us-know">
      <div class="container">
          <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                  <div class="text">
                      <h1>
                          Vendor Pricing 
                      </h1>
                      <p>
                          You want to become a vendor ? Select a plan that suits you
                      </p>
                  </div>
              </div>
              <div class="col-lg-3"></div>
          </div>
      </div>
  </section>
  <!-- Let-us-know Ends -->

  <!--Pricing  -->
  <!-- <section class="pricing container">
      <div class="container">
          <div class="top">
            <div class="toggle-btn">
              <span style="margin: 0.8em;">Monthly</span>
              <label class="switch">
                <input type="checkbox" id="checbox" onclick="check()" ; />
                <span class="slider round"></span>
              </label>
              <span style="margin: 0.8em;">Weekly</span></div>
          </div>
      
          <div class="package-container">
            <div class="packages" style="background-color: 
            #FCA8D7;">
              <h4 class="basic">Basic</h4>
              <h2 class="text1">&dollar; 30</h2>
              <h2 class="text2">Free</h2>
              <p class="plan">
                  Free plan for all vendors 
              </p>
              <p>
                 <input class="check" type="checkbox"> Post up to 5 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 5 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 5 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 5 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 5 products
              </p>
              <a href="#" class="button button1">Get Free Plan</a>
            </div>
            <div class="packages" style="background-color: 
            #C4F350;">
              <h4 class="basic">Standard</h4>
              <h2 class="text1">&dollar; 50</h2>
              <h2 class="text2">&dollar; 100</h2>
              <p class="plan">
                  Ideal for individual vendor 
              </p>
              <p>
                 <input type="checkbox"> Post up to 100 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 100 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 100 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 100 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 100 products
              </p>
              <a href="#" class="button button1">Get Free Plan</a>
            </div>
            <div class="packages" style="background-color: 
            #FFBB00;">
              <h4 class="basic">Premium</h4>
              <h2 class="text1">&dollar; 200</h2>
              <h2 class="text2">&dollar; 250</h2>
              <p class="plan">
                  Ideal for company vendor
              </p>
              <p>
                 <input type="checkbox"> Post up to 250 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 250 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 250 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 250 products
              </p>
              <p>
                  <input type="checkbox"> Post up to 250 products
              </p>
              <a href="#" class="button button1">Get Free Plan</a>
            </div>
          </div>
      </div>
  </section> -->
  <!--Pricing  -->

  <section>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="coming-soon">
                      <img src="assets/images/how-to-create-a-coming-soon-page-in-wordpress-removebg-preview.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--Supply-Vendor  -->
  <section class="supply-vendor container">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="text">
                      <h1>
                         <span>DeepEnd</span>, conveniently supplying you with your daily needs
                      </h1>
                      <p>
                          Everything entertainment, food, games, movie, hotel and studio bookings, equipment renting all at your fingertip with the Deep End app.
                      </p>
                      <div class="app">
                          <img src="assets/images/ap.png" draggable="false" alt="">
                          <img src="assets/images/app.png" draggable="false" alt="">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="div-image">
                      <img src="assets/images/icon.png" draggable="false" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Supply-Vendor Ends -->




<%- include("../partials/base_footer") %>