<%- include("../partials/base_header") %>


    <!-- Pricing-->
    <section class="pricing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 pricing-level py-3">
                    <h1>Vendor Subscription</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
        </div>
    </section>

    <main class="price">
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">
                  Starter Plan
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$25<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4 py-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 flip">Proceed </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Yearly Plan
                <button class="save">Save 25%</button>
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$25<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4 py-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 flip">Proceed Monthly </button>
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="card mb-2 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Monthly Plan
                  <button class="save">Save 5%</button>
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$30<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4 py-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 flip">Proceed Yearly</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Pricing Ends-->




<%- include("../partials/base_footer") %>