<%- include("../partials/base_header") %>




    <!--Services 1-->
    <section class="services-1">
        <div class="container">
            <div class="row">
               <div class="col-lg-5 py-3">
                   <div class="service-head-1">
                       <img src="assets/images/services.png" alt="">
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center">
                   <div class="service-box-1">
                       <img src="assets/images/clipboard 1.png" alt="icon">
                       <h4>FOOD</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque. </p>
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center">
                   <div class="service-box-1">
                       <img src="assets/images/link 1.png" alt="icon">
                       <h4>GAMING</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque.</p>
                   </div>
               </div>
           </div>
       </div>
    </section>
    <section class="services-1" style="margin-top: -400px;">
       <div class="container">
           <div class="row">
               <div class="col-lg-3 py-5 text-center">
                   <div class="service-box-1" style="border: none;">
                       
                      
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center">
                   <div class="service-box-1">
                       <img src="assets/images/clipboard 1.png" alt="icon">
                       <h4>CINEMA TICKETS</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque.</p>
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center">
                   <div class="service-box-1">
                       <img src="assets/images/trophy 1.png" alt="icon">
                       <h4>EQUIPMENT RENTING</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque.</p>
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center">
                   <div class="service-box-1">
                       <img src="assets/images/customer 1.png" alt="icon">
                       <h4>HOTEL RESERVATION</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque.</p>
                   </div>
               </div>
               <div class="col-lg-3 py-3 text-center move">
                   <div class="service-box-1" style="margin-left: 670px;">
                       <img src="assets/images/clipboard 1.png" alt="icon">
                       <h4>STUDIO BOOLING</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget porta pellentesque vel mauris scelerisque.</p>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!--Services-1 Ends-->

<%- include("../partials/base_footer") %>