<%- include("../partials/base_header") %>


 <!-- Signup -->
 <section class="coming">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="soon">
                    <h2>Vendor Registration</h2>
                    <img src="assets/images/how-to-create-a-coming-soon-page-in-wordpress-removebg-preview.png" draggable="false" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <main class="login-details">
    <div class="container-fluid g-0">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-4">
            
                    </div>
                    <div class="col-xl-5 login-1">
                        <div class="form-sec">
                        <a href="index.html"> <img src="assets/images/deep.png" alt="FAclub logo"></a>
                            <h2>Vendor Registration</h2>
                            <div class="line-rule"></div>
                            <!-- <form>
                                <!--Organization-->
                                <!-- <div>
                                    <label for="first name">Organization/Business</label>
                                    <input type="text" required>
                                </div> -->
                                <!--First Name-->
                                <!-- <div>
                                    <label for="last name">First Name</label>
                                    <input type="text" placeholder="Enter first name" required>
                                </div> -->
                                <!--Last Name-->
                                <!-- <div>
                                    <label for="last name">Last Name</label>
                                    <input type="text" placeholder="Enter last name" required>
                                </div> -->
                                <!--Phone Number-->
                                <!-- <div>
                                    <label for="phone number">Phone Number</label>
                                    <input type="tel" placeholder="Enter phone number" required>
                                </div> -->
                                <!--Email-->
                                <!-- <div>
                                    <label for="email">Email</label>
                                    <input type="email" placeholder="Enter your email address" required>
                                </div> -->
                                <!--Password-->
                                <!-- <div>
                                    <label for="last name">Password</label>
                                    <input type="password" placeholder="Enter your password" required>
                                </div> -->
                                <!--Button-->
                                <!-- <div>
                                    <button type="submit">Create Account</button>
                                </div> -->
                            <!-- </form> -->
                            <!--Alt Opt-->
                            <!-- <p class="alt-opt">Already have an account? <a href="login.html">Log In</a></p> -->
                        <!-- </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</main> --> -->
<!--Signup Ends  -->


<%- include("../partials/base_footer") %>