<%- include("../../partials/admin_header") %>

    <!-- begin app-main -->

    <%- include("../../partials/alerts") %>
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-12 m-b-10">
                        <!-- begin page title -->
                        <div class="d-block d-lg-flex flex-nowrap align-items-center">
                            <div class="page-title mr-4 pr-4 border-right">
                                <h4 class="hey">Cinema Movie Upload</h4>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                </div>
                <!-- begin row -->

                <!-- Upload section -->
                <form method="post" enctype="multipart/form-data">
                    <div class="row bg-white py-3 rounded-lg">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Movie Title</label>
                                    <input required type="text" name="title" class="form-control" id="inputName" required
                                        placeholder="Title">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">View Date</label>
                                    <input required type="date" class="form-control" name="view_date" id="inputName" required
                                        placeholder="Date Showing">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Genre</label>
                                    <input required type="text" name="genre" class="form-control" id="inputName" required
                                        placeholder="genre (can be multiple)">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Duration</label>
                                    <input required type="text" class="form-control" name="duration" id="inputName" required
                                        placeholder="2hr:30mins">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Storyline</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="storyline"
                                    rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Cast</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Jennifer Lawrence, Odunlade Adekola, Brad Pitt" name="cast"
                                    rows="3"></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Seats</label>
                                    <input required type="number" min="0" min="0" name="seat" class="form-control" id="inputEmail4"
                                        placeholder="200">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Age Rate</label>
                                    <select name="age_rate" class="form-control" id="inputPassword4">
                                        <option selected>Select Age Rate</option>
                                        <option value="8+">8+</option>
                                        <option value="13+">13+</option>
                                        <option value="16+">16+</option>
                                        <option value="18+">18+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Price</label>
                                    <input required type="number" min="0" min="0" name="price" class="form-control" id="inputEmail4"
                                        placeholder="5000">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Rating</label>
                                    <select name="rating" class="form-control" id="inputPassword4">
                                        <option selected>Rate Studio</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Morning</label>
                                    <input required type="time" name="morningTime" class="form-control" id="inputEmail4"
                                        placeholder="5000">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Afternoon</label>
                                    <input required type="time" name="afternoonTime" class="form-control" id="inputEmail4"
                                        placeholder="5000">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Evening</label>
                                    <input required type="time" name="eveningTime" class="form-control" id="inputEmail4"
                                        placeholder="5000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="text-dark">Upload Movie Images</label>
                                <input required type="file" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" name="cinema_pictures" multiple class="form-control"
                                    id="inputPassword4" placeholder="Password">
                            </div>

                            <button type="submit" name="submit" value="submit"
                                class="btn btn-primary btn-block border-0"
                                style="background-color: red;">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- Upload section Ends -->
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include("../../partials/admin_footer") %>

            <!-- end app -->

            <!-- plugins -->

            </body>

            </html>