<%- include("../../partials/admin_header") %>

    <!-- begin app-main -->

    <%- include("../../partials/alerts") %>
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-12 m-b-10">
                        <!-- begin page title -->
                        <div class="d-block d-lg-flex flex-nowrap align-items-center">
                            <div class="page-title mr-4 pr-4 border-right">
                                <h4 class="hey">New Hotel Upload</h4>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                </div>
                <!-- begin row -->

                <!-- Upload section -->
                <form method="post" enctype="multipart/form-data">
                    <div class="row bg-white py-3 rounded-lg">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Hotel Name</label>
                                    <input required type="text" name="title" class="form-control" id="inputName" required
                                        placeholder="Title">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Hotel Location</label>
                                    <input required type="text" class="form-control" name="location" id="inputName" required
                                        placeholder="No 05, Apt 5, Deepend Avenue">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Available Rooms</label>
                                    <input required type="number" min="0" min="0" name="available_room" class="form-control"
                                        id="inputPassword4" placeholder="15">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Rooms</label>
                                    <input required type="number" min="0" min="0" name="room" class="form-control"
                                        id="inputPassword4" placeholder="30">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputName" class="text-dark">Price</label>
                                    <input required type="number" min="0" min="0" name="price" class="form-control"
                                        id="inputPassword4" placeholder="5000">
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Upload Hotel Images</label>
                                    <input required type="file" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" name="hotel_pictures" multiple class="form-control"
                                        id="inputPassword4" placeholder="Password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Rating</label>
                                    <select name="rating" class="form-control" id="inputPassword4">
                                        <option selected>Rate Hotel</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                                    rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Hotel Amenities</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="amenities"
                                    rows="3"></textarea>
                            </div>



                            <button type="submit" name="submit" value="submit"
                                class="btn btn-primary btn-block border-0"
                                style="background-color: red;">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- Upload section Ends -->
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include("../../partials/admin_footer") %>

            <!-- end app -->

            <!-- plugins -->

            </body>

            </html>