<%- include("../../partials/admin_header") %> 

 <!-- begin app-main -->
 
<%- include("../../partials/alerts") %>
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-10">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h4 class="hey">Hey! Hamzat</h4>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- begin row -->
        <!-- First section -->
        <div class="row">
            <div class="col-lg-3 section">
                <div class="section-left">
                  <h4 class="user-1">No. of Users</h4>
                    <h5 class="user-2">112</h5>
                    <p class="user-3">User</p>
                    <div class="png">
                        <img src="assets4/img/Vector.png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-1">
                    <h4 class="user-1">Total Subscriptions</h4>
                    <h5 class="user-2">72</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/sub.png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-2">
                    <h4 class="user-1">Food</h4>
                    <h5 class="user-2">50</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/Group.png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-3">
                    <h4 class="user-1">Studio Renting</h4>
                    <h5 class="user-2">17</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/Vector (2).png" alt="icon">
                    </div>
                </div>
            </div>
        </div>
        <!-- First section Ends -->

        <!-- Second section -->
        <div class="row">
            <div class="col-lg-3 section">
                <div class="section-left-4">
                    <h4 class="user-1">Hotel Bookings</h4>
                    <h5 class="user-2">16</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/Vector (3).png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-5">
                    <h4 class="user-1">Cinema Tickets</h4>
                    <h5 class="user-2">12</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/Vector (4).png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-6">
                    <h4 class="user-1">VR Game Tickets</h4>
                    <h5 class="user-2">20</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/Group 9527.png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 section">
                <div class="section-left-7">
                    <h4 class="user-1">Equipment Renting</h4>
                    <h5 class="user-2">9</h5>
                    <p class="user-3">Subscribers</p>
                    <div class="png">
                        <img src="assets4/img/for-rent 3.png" alt="icon">
                    </div>
                </div>
            </div>
        </div>
        <!-- Second section Ends -->

        <!-- Table section -->
        <div class="row">
            <div class="col-lg-12 open-section">
                <h4 class="user-1">Export as :  
                    <button class="table-button">
                        CSV
                    </button>
                    <button class="table-button">
                        PDF
                    </button>
                    <button class="table-button">
                        Print
                    </button>
                </h4>
                <div class="col-lg-12">
                    <table border="1" class="open-section-2">
                        <tr class="mode-1">
                            <th width="50">S/N</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Service Type</th>
                            <th>Mode of Payment</th>
                        </tr>
                        <tr class="mode-2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="view">View all users <i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <!-- Table section Ends -->

        <!-- Services -->
        <div class="row">
            <div class="col-lg-6 Services-1">
                <div class="serve-1">
                    <h4>Subscription Analysis</h4>
                    <div id="chart">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 Services-1">
                <div class="serve-1">
                    <h4>Monthly Analysis</h4>
                    <div id="chat">
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Ends -->
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->
<%- include("../../partials/admin_footer") %>
<!-- end app -->

<!-- plugins -->

<script>var options = {
series: [
{
name: "Yearly Profit",
data: [
{
x: "2015",
y: 1292
},
{
x: "2016",
y: 4432
},
{
x: "2017",
y: 5423,
fillColor: "#EB8C87",
},
{
x: "2018",
y: 6653
},
{
x: "2019",
y: 8133,
fillColor: "#EB8C87",
},
{
x: "2020",
y: 7132
},
{
x: "2021",
y: 7332
},
{
x: "2022",
y: 6553
}
]
}
],
chart: {
height: 350,
type: "bar"
},
plotOptions: {
bar: {
horizontal: false,
columnWidth: "60%"
}
},
stroke: {
show: false,
},
dataLabels: {
enabled: false
},
fill: {
opacity: 1
},
xaxis: {
type: "datetime"
}
};

var chart = new ApexCharts(document.querySelector("#chat"), options);
chart.render();</script>
<script>
var options = {
series: [
{
name: "Food",
data: [
178,
138,
144,
167,
173,
94,
88,
66,
79,
73,
57,
55,
60,
58,
75,
58,
40,
0,
0,
0,
0,
0,
0,
0
]
},
{
name: "Cinema Ticket",
data: [
28,
17,
27,
19,
20,
16,
9,
10,
11,
12,
7,
8,
9,
5,
20,
11,
10,
0,
0,
0,
0,
0,
0,
0
]
},
{
name: "Studio Booking",
data: [
26,
22,
19,
16,
9,
13,
5,
5,
14,
10,
8,
15,
7,
7,
14,
11,
14,
0,
0,
0,
0,
0,
0,
0
]
},
{
name: "Equipment Renting  ",
data: [
97,
62,
71,
91,
82,
72,
45,
41,
35,
32,
36,
47,
45,
30,
31,
52,
21,
0,
0,
0,
0,
0,
0,
0
]
},
{
name: "Hotel Booking",
data: [
0,
0,
1,
1,
2,
0,
0,
0,
0,
1,
1,
0,
0,
2,
2,
0,
3,
0,
0,
0,
0,
0,
0,
0
]
},
{
name: "VR Games Tickets",
data: [
0,
0,
1,
1,
1,
5,
2,
0,
1,
1,
4,
2,
2,
1,
0,
1,
3,
0,
0,
0,
0,
0,
0,
0
]
},
],
grid: {
show: true,
padding: { left: 0, right: 0 },
borderColor: "rgba(0,0,0,0.1)"
},
tooltip: { theme: "dark" },
chart: { type: "line", height: 350, stacked: true, toolbar: { show: false } },
colors: [
"#38B93D",
"#273CF6",
"#31B49D",
"#F45D3C",
"#CF9743",
"#000",

],
fill: {
type: "solid",
color: [
"#2aae7d",
"#101010",
"#c0af92",
"#000000",
"#004168",
"#4f4e4e",
"#225b41",
"#661314",
"#1495d1"
]
},
dataLabels: { enabled: false },
stroke: { curve: "straight", width: 1 },
markers: { size: 0 },
xaxis: {
categories: [
"2020-11-23 00:00:00",
"2020-11-23 01:00:00",
"2020-11-23 02:00:00",
"2020-11-23 03:00:00",
"2020-11-23 04:00:00",
"2020-11-23 05:00:00",
"2020-11-23 06:00:00",
"2020-11-23 07:00:00",
"2020-11-23 08:00:00",
"2020-11-23 09:00:00",
"2020-11-23 10:00:00",
"2020-11-23 11:00:00",
"2020-11-23 12:00:00",
"2020-11-23 13:00:00",
"2020-11-23 14:00:00",
"2020-11-23 15:00:00",
"2020-11-23 16:00:00",
"2020-11-23 17:00:00",
"2020-11-23 18:00:00",
"2020-11-23 19:00:00",
"2020-11-23 20:00:00",
"2020-11-23 21:00:00",
"2020-11-23 22:00:00",
"2020-11-23 23:00:00"
],
type: "datetime",
labels: {
datetimeUTC: false
}
},
yaxis: { labels: { style: { cssClass: "text-muted fill-color" } } }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();

</script>
</body>


</html>