<%- include("../../partials/admin_header") %>

    <!-- begin app-main -->

    <%- include("../../partials/alerts") %>
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-12 m-b-10">
                        <!-- begin page title -->
                        <div class="d-block d-lg-flex flex-nowrap align-items-center">
                            <div class="page-title mr-4 pr-4 border-right">
                                <h4 class="hey">New Rental Service</h4>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                </div>
                <!-- begin row -->

                <!-- Upload section -->
                <form method="post" enctype="multipart/form-data">
                    <div class="row bg-white py-3 rounded-lg">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Rental Title</label>
                                    <input required type="text" name="title" class="form-control" id="inputName" required
                                        placeholder="Title">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Rental Location</label>
                                    <input required type="text" class="form-control" name="location" id="inputName" required
                                        placeholder="No 05, Apt 5, Deepend Avenue">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                                    rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-dark">Available Equipments</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="equipment"
                                    rows="3"></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Price</label>
                                    <input required type="number" name="price" class="form-control" id="inputEmail4"
                                        placeholder="5000">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Per Time/hr</label>
                                    <select name="per_time" class="form-control" id="inputPassword4">
                                        <option selected>Select Rate</option>
                                        <option value="hourly">Hourly</option>
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Upload Studio Images</label>
                                    <input required type="file" name="rent_pictures" multiple class="form-control"
                                        id="inputPassword4" placeholder="Password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName" class="text-dark">Available For Rent </label>
                                    <input required name="available_rent" type="number" class="form-control" placeholder="5" id="inputPassword4">
                                </div>
                            </div>



                            <button type="submit" name="submit" value="submit"
                                class="btn btn-primary btn-block border-0"
                                style="background-color: red;">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- Upload section Ends -->
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include("../../partials/admin_footer") %>

            <!-- end app -->

            <!-- plugins -->

            </body>

            </html>