@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body{
    font-family: 'Rubik', sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.form-bg{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: 300px;
}
.form-bg img{
    margin: auto;
    display: block;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.863));
}
.form-area{
    width:100%;
    height: 100vh;
    color:#fff;
    padding-top: 120px;
    padding-bottom: 50px;
}
.form-area form{
    width: 50%;
    color: #000;
    padding: 30px 30px 0px 30px;
    margin: auto;
}
.form-area form .form-header{
    margin-bottom: 20px;
}
.form-area form .form-header h3{
    font-weight: 400;
    padding-left: 15px;
    border-left: 5px solid #000E7A;
    font-size: 35px;
}
.form-area form .form-header h3 span{
    font-weight: 700;
}
.form-area label{
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 500;
}
.form-area .input{
    width: 100%;
    padding: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0);
}
.form-area .input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #000E7A;
}
.form-area input::placeholder, .form-area input::-webkit-input-placeholder{
    font-size: 15px;
    font-weight: 300;
}
.form-area input:focus::placeholder, .form-area input:focus::-webkit-input-placeholder  {
    position:relative;
    top:-17px; 
    font-size:12px;
    color: #000;
}
.form-area .remember-me span{
    padding-left: 7px;
}
.form-area .submit-btn{
    width:150px;
    padding: 10px;
    background-color: #000E7A;
    color:#fff;
    border: none;
    border-radius: 5px;
    margin:10px 0px;
}
.form-area .submit-btn:hover{
    background-color: #381977;
}
.form-area .forgot-password p{
    font-size: 15px;
}
.form-area .forgot-password p a{
    color:  #472096;
    text-decoration: none;
}
@media(max-width: 1560px){
    .form-area{
        padding-top: 60px;
    }
}
@media(max-width: 1374px){
    .form-area{
        padding-top: 40px;
    }
    .form-bg{
        padding-top: 240px;
    }
}
@media(max-width: 1120px){
    .form-area form{
        width: 60%;
    }
}
@media(max-width: 991px){
    .form-bg{
        height: auto;
        padding: 50px 10px;
    }
    .form-area{
        height: auto;
        padding: 50px 10px;
    }
}
@media(max-width: 776px){
    .form-area form .form-header h3{
        font-size: 30px;
    }
}
@media(max-width: 687px){
    .form-area form .form-header h3{
        font-size: 27px;
    }
}
@media(max-width: 656px){
    .form-area form{
        width: 80%;
    }
}
@media(max-width: 587px){
    .form-area form .form-header h3{
        font-size: 25px;
    }
}
@media(max-width: 461px){
    .form-area form{
        width: 100%;
    }
    .form-area{
        padding: 10px 0px 20px 0px
    }
}